<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Abdulqadir Abuharrus</title>

  <!-- Link boostrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Aos -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css">
  <!-- link Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Montserrat:wght@400;900&family=Playfair+Display&family=Roboto+Slab&family=Ubuntu&display=swap"
    rel="stylesheet">
  <!-- link to custom css in styles in public folder -->
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <!-- TODO: replace with personal logo -->
      <a class="navbar-brand" href="/">H O M E</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li> -->

        </ul>
        <!-- Social Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/yourusername" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://linkedin.com/in/yourusername" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</body>

</html>