<%- include('partials/header') %>

    <main>
        <div class="container about-box">
            <div class="row">
                <div class="col-md-6">
                    <img src="..." alt="add image here" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h2>A bit about myself...</h2>
                    <p>
                        I'm Abdulqadir Abuharrus, but you can just call me Abdo. I'm a BCIT CST student from Libya. My
                        path is all about embracing the world of software development. Right now, I'm deep into the CST
                        Co-op program, eager to soak up real-world tech experience.
                    </p>
                    <h3>Education</h3>
                    <p>
                        I had a stint at UBC where I dipped my toes into Computer Science and even did a dance with
                        Chemistry. But life had other plans. It was in those twists and turns that I found my way back
                        to what truly ignited my interest: technology.
                    </p>
                    <h3>Experience</h3>
                    <p>
                        Between 2017 and 2018, I participated in the Kennedy-Lugar Youth Exchange & Study (YES) program,
                        where I had the opportunity to explore robotics and programming. I built and programmed Arduino
                        bots and participated in robotics competitions with my exchange school’s FRC team, Team Talos
                        1818.
                    </p>
                    <h3>Hobbies</h3>
                    <p>
                        Away from my various hobbies, I'm into pondering how technology shapes our lives. I'm a bit of a
                        gaming enthusiast, and I love capturing life's moments through my amateur photography. I'm also
                        learning to strum a guitar and taking every chance to explore the outdoors—hiking, overlanding,
                        and camping.
                    </p>
                    <h3>Passion for Tech</h3>
                    <p>
                        Learning keeps me going, and I'm stoked to dive deeper into tech. I'm all about embracing the
                        unknown, connecting with people who share the tech vibe, and creating something worthwhile. So,
                        let's skip the formalities and embark on a journey where we learn, grow, and leave a positive
                        mark.
                    </p>
                </div>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>

    <script>
        document.title = "<%= pageTitle %> | Abdulqadir Abuharrus";
      </script>