<%- include('partials/header') %>



    <main>

        <div class="container about-box">
            <div class="row">
                <div class="col-md-6">
                    <img src="..." alt="add image here">
                </div>
                <div class="col-md-6">
                    <h3>A bit about myself...</h3>
                    <p>
                        I'm Abdulqadir Abuharrus, but you can just call me Abdo.
                        I'm a BCIT CST student from Libya. My path is all about embracing the world of software
                        development. Right now, I'm deep into the CST Co-op program, eager to soak up real-world tech
                        experience.

                        My journey didn't follow a straight line. I had a stint at UBC where I dipped my toes into
                        Computer Science and even did a dance with Chemistry. But life had other plans. It was in those
                        twists and turns that I found my way back to what truly ignited my interest: technology.

                        You see, I grew up hooked on video games, and that sparked my curiosity about how they're put
                        together. Gaming is still a passion, and I can't resist a good game even now.




                        Then came a life-changing stint between 2017 and 2018—the Kennedy-Lugar Youth Exchange & Study
                        (YES) program. It opened doors to robotics. I was a newbie in programming, and the world of
                        robotics was this fascinating maze. I had a shot at building and programming Arduino bots. I
                        even had a go at the FRC Bayou Regional and a bunch of other cool competitions with my exchange
                        school’s FRC team, Team Talos 1818.

                        Living in Libya has taught me a lot. The unrest and turmoil that have swept through have shaped
                        who I am today. The challenges, and the uncertainty—have shown me the strength of my family and
                        community, and I’ve gained many valuable lessons and insights from that experience.

                        Away from my various hobbies, I'm into pondering how technology shapes our lives. I'm a bit of a
                        gaming enthusiast, and I love capturing life's moments through my amateur photography. I'm also
                        learning to strum a guitar and taking every chance to explore the outdoors—hiking, overlanding,
                        and camping.

                        Learning keeps me going, and I'm stoked to dive deeper into tech. I'm all about embracing the
                        unknown, connecting with people who share the tech vibe, and creating something worthwhile. So,
                        let's skip the formalities and embark on a journey where we learn, grow, and leave a positive
                        mark.

                    </p>

                </div>

            </div>
        </div>

    </main>


    <%- include('partials/footer') %>