<%- include('partials/header') %>

    <main>

        <!-- Hero/Banner Section -->
        <div class="container-fluid banner-box position-relative">
            <!-- <img class="banner-img" src="/images/sunrise beach.JPG" alt="banner image"> -->
            <div class="hero-text">
                <h1>Ma Name Dev</h1>
                <p>I'm Abdo, and I write Software</p>
            </div>
        </div>



    </main>
    <%- include('partials/footer') %>
        <!--Typed.js -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
            AOS.init();
            var options = {
                strings: ["Developer", "Designer", "Learner", "Problem Solver"
                    , "Software Developer", "Amateur Photographer", "Car Enthusiast"],
                typeSpeed: 30,
                backSpeed: 40,
                loop: true
            };

            var typed = new Typed(".intro-header", options);
        </script>