<%- include('partials/header') %>

    <section id="intro">
        <div class="container">
            <div class="intro-cont row">
                <div class="col-md-6">
                    <h3 class="intro-phrase">Hi, ma name Dev!</h3>
                    <p>
                        I'm a software developer from Libya!
                    </p>
                    <p>
                        Add some more text here about yourself and stuff...
                    </p>
                    <div id="socmed-links">
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="\images\cropped headhsot.JPG" alt="intro picture" class="intro-img">
                </div>
            </div>
        </div>
        </div>
    </section>


    <section id="showcase">
        <div>
            <h1>
                Bob was here!
            </h1>
        </div>
    </section>
