<%- include('partials/header') %>

    <main>

        <!-- Hero/Banner Section -->
        <div class="container-fluid banner-box position-relative">
            <img class="banner-img" src="/images/sunrise beach.JPG" alt="banner image">
            <div class="hero-text position-absolute top-50 start-50 translate-middle">
                <h1>Welcome to My Portfolio</h1>
                <p>Abdulqadir Abuharrus - Software Developer</p>
            </div>
        </div>

        <!-- Introduction Section -->
        <!-- <div class="container intro-box my-5" data-aos="fade-up">
            <div class="text-center">
                <img class="intro-pic mb-3" src="/images/cropped headhsot.JPG" alt="headshot pic">
                <h2 class="intro-header"></h2>
                <p class="intro-text">I'm an aspiring Software Developer from Libya. Passionate about projects and
                    products that
                    improve our daily lives and make a difference be it big or small.</p>
                <a href="/about" class="btn btn-secondary" id="about-btn">Read more</a>
            </div>
        </div> -->

        <div class="container intro-box d-flex justify-content-center align-items-center full-height"
            data-aos="fade-up">
            <div class="row text-center">
                <div>
                    <h2 class="intro-header"></h2>
                </div>
                <div class="col-md-4">
                    <img class="intro-pic mb-3" src="/images/cropped headhsot.JPG" alt="headshot pic">
                </div>
                <div class="col-md-8">
                    <p class="intro-text">I'm an aspiring Software Developer from Libya. Passionate about projects and
                        products that
                        improve our daily lives and make a difference be it big or small.</p>
                    <a href="/about" class="btn btn-secondary" id="about-btn">Read more</a>
                </div>
            </div>
        </div>


        <!-- Personal Interests or Hobbies -->
        <div class="container hobbies-box" data-aos="fade-down">
            <h3>Personal Interests</h3>
            <div class="row text-center">
                <div class="col-md-3">
                    <img src="path/to/hobby1-image.jpg" alt="Hobby 1" class="img-fluid hobby-img">
                    <p>Photography</p>
                </div>
                <div class="col-md-3">
                    <img src="path/to/hobby2-image.jpg" alt="Hobby 2" class="img-fluid hobby-img">
                    <p>Traveling</p>
                </div>
                <div class="col-md-3">
                    <img src="path/to/hobby2-image.jpg" alt="Hobby 3" class="img-fluid hobby-img">
                    <p>Hiking</p>
                </div>
                <div class="col-md-3">
                    <img src="path/to/hobby2-image.jpg" alt="Hobby 4" class="img-fluid hobby-img">
                    <p>Games & Movies</p>
                </div>
                
                <!-- Add more hobbies similarly -->
            </div>
        </div>

        <!-- Skills & Technologies -->
        <!-- <div class="container skills-box my-5" data-aos="fade-up">
            <h3>Skills & Technologies</h3>
            <div class="row text-center">
                <div class="col-md-2">
                    <i class="fab fa-html5 fa-3x"></i>
                    <p>HTML5</p>
                </div>
                <div class="col-md-2">
                    <i class="fab fa-css3-alt fa-3x"></i>
                    <p>CSS3</p>
                </div>
                //Add more icons similarly...
            </div>
        </div> -->


    </main>
    <%- include('partials/footer') %>
        <!--Typed.js -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
            AOS.init();
            var options = {
                strings: ["Developer", "Designer", "Learner", "Problem Solver"
                    , "Software Developer", "Amateur Photographer", "Car Enthusiast"],
                typeSpeed: 30,
                backSpeed: 40,
                loop: true
            };

            var typed = new Typed(".intro-header", options);
        </script>