<%- include('partials/header') %>

    <main>

        <!-- Hero/Banner Section -->
        <div class="container-fluid banner-box position-relative">
            <!-- <img class="banner-img" src="/images/sunrise beach.JPG" alt="banner image"> -->
            <div class="hero-text">
                <p class="banner-text">ABDO ABUHARRUS</p>
                <span style="font-size: 1.2rem;">
                    <p>Software Developer</p>
                </span>
            </div>

            <div class="hero-message">
                <p class="typed-text">I Write Software To Solve Problems :)</p>
            </div>
        </div>



    </main>
    <%- include('partials/footer') %>
        <!--Typed.js -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
            AOS.init();
            var options = {
                // strings: ["Developer", "Designer", "Learner", "Problem Solver"
                //     , "Software Developer", "Amateur Photographer", "Car Enthusiast"],
                strings: ["","I Write Software To Solve Problems :)", "Photographing precious moments", "Exploring new horizons"],
                typeSpeed: 30,
                backSpeed: 40,
                loop: true,
                showCursor: false,
            };

            var typed = new Typed(".typed-text", options);
        </script>