<%- include('partials/header') %>


    <main>
        <h1>
            Projects
        </h1>
        
        <section>
            <div class="container projects-box">
                <div class=" container-fluid row">
                    <h3>PCRigger</h3>
                    <div class="col-md-8">
                        <p>Add Text here</p>
                    </div>
                    <div class="col-md-4">
                        <img src="..." alt="add image here" class="img-fluid">
                    </div>
                </div>

            </div>
        </section>
    </main>

    <%- include('partials/footer') %>


    <script>
        document.title = "<%= pageTitle %> | Abdulqadir Abuharrus";
      </script>