:root {

    --text: #ede4e6;
    --background: #0b0708;
    --primary: #910f3e;
    --secondary: #675d43;
    --accent: #a9a97c;



    /* font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif; */

}

body {
    padding-bottom: 0;
    /* background-image: linear-gradient(180deg, var(--background), var(--primary)); */
    background-color: var(--background);
    color: var(--text);
}

nav {
    position: fixed;
    top: 0;
    background-color: var(--background);
    color: var(--accent);
    margin-bottom: 7%;
}

.nav-item,
.nav-link,
.navbar-brand {
    color: var(--text);
}




/* Home page style */
#intro{
    align-items: center;
    height: 80vh;
    margin-bottom: 7%;
}

.intro-phrase {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    color: var(--accent);

}

.intro-img {
    width: 80%;
}

#socmed-cont{
    margin-top: 5%;
}
.socmed-links{
    text-decoration: none;
}
.fa-brands{
    font-size: 1.23rem;
    color: var(--primary);
    margin: 0 3% 0 3%;
}
