:root {
    /* CyberNeon theme */
    --text: #dff4fe;
    --background: #011620;
    --primary: #83ccfa;
    --secondary: #8e07ac;
    --accent: #f60faf;

}

body {
    padding-bottom: 0;
    /* background-image: linear-gradient(180deg, var(--background), var(--primary)); */
    background-color: var(--background);
    color: var(--text);
}

/* * GENERAL STYLING */
h1,
h3 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}


h3 {
    width: 100%;
    /* make h3 take full width */
    padding-bottom: 10px;
    /* some bottom padding for the title */
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
    /* this adds the underline effect */
    margin-bottom: 20px;
    /* space between the title and content */
    font-weight: 400;
    /* slightly bolder to make it stand out */
    transition: border-color 0.3s ease;
    /* smooth transition for hover effects */
}

h3:hover {
    border-color: var(--accent);
    /* change border color on hover for a subtle effect */
}

img.img-fluid {
    max-width: 80%;
    border-radius: 10px;
}

.text-box {
    font-size: 1.2rem;
    padding: 15% 5%;
    border-radius: 10px;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

/* MAIN CONTENT AREA */
main {
    padding: 5% 0;
    width: 90%;
    margin: 0 auto;
}

/* Navbar */

nav {
    /* background-color: rgba(255, 255, 255, 0.3); */
    backdrop-filter: blur(10px);
    /* border-bottom: 2px solid var(--accent); */
    border-radius: 5px;
    padding-top: 10px;
    /* transition: background-color 0.3s ease; */
    z-index: 1000;
}

.navbar-toggler {
    color: transparent;
}

.nav-item {
    margin-right: 20px;
    border-radius: 5px;
    font-size: larger;
    transition: background-color 0.3s ease;
}

.nav-link,
.navbar-brand {
    color: var(--text);
    border-radius: 5px;
    padding: 0.8% 1.2%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover,
.navbar-brand:hover {
    color: rgba(114, 145, 151, 0.6);
}


/* FOOTER STYLES */
footer {
    margin: 5% 0 0 0;
    width: 100%;
    color: var(--primary);
    border-top: 2px solid var(--secondary);
    bottom: 0;
    padding: 20px 0;
    overflow: hidden;
    /* Prevents potential overflow issues */
}


footer h6,
footer h4 {
    margin-bottom: 15px;
}

footer a {
    color: var(--text);
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--accent);
}

footer ul {
    padding: 0;
    list-style-type: none;
}

/* Optional - If you want to introduce icons */
footer i.fa {
    margin-right: 8px;
}


/* ///////////////// */
/* HOME PAGE STYLES */

.banner-box {
    margin: 0;
    text-align: center;
    position: relative;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("/images/sunrise beach.JPG");
    background-size: cover;
    background-position: center;
    overflow: visible;
    z-index: 0;
    transition: transform 0.5s ease-in;
    transform: scale(1.15);
}

/* .banner-box:hover {
    transform: scale(1.2);
} */

.banner-img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in;
    transform: scale(1.15);

}


.hero-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--text);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.intro-box {
    background-color: var(--secondary);
    border-radius: 10px;
    margin: 15% auto;
    padding: 2% 5%;
    /* Reduced margin for better scaling on large screens */
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}


/* ABOUT PAGE REVAMP STYLES */

/* Enhanced Whitespace */
.about-box {
    padding: 5% 3%;
}

/* Introduction Section */
.about-intro h2,
.about-education h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* PROJECTS PAGE */
.project-box {
    background-color: var(--background);
    border-radius: 10px;
    padding: 3% 2%;
    margin: 3% 0;
    transition: transform 0.3s ease;
}

.project-box h3 {
    color: var(--accent);
}

.project-box:hover {
    transform: scale(1.02);
    /* subtle grow effect on hover */
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.proj-img {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
}


.container.project-box {
    cursor: pointer;
}



/* RESPONSIVENESS */
@media (max-width: 768px) {

    /* Bootstrap's breakpoint for md */
    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        font-size: 1rem;
        padding: 10px;
    }

    .project-box {
        margin: 5% 0;
    }

    /* Mobile view adjustment */
    .banner-img {
        width: 100%;
        height: auto;
    }

    .banner-box {
        margin: 20% 0 10%;
    }

    .banner-box h1 {
        display: none;
    }

    .banner-box p {
        font-size: 1.125rem;
        font-weight: 400;
    }

    .proj-img {
        width: 100%;
    }
}