:root {

    --text: #e1ebfe;
    --background: #010f1e;
    --primary: #79adfb;
    --secondary: #a30574;
    --accent: #f82032;


}

body {
    padding-bottom: 0;
    /* background-image: linear-gradient(180deg, var(--background), var(--primary)); */
    background-color: var(--background);
    color: var(--text);
}