   /* --text: #e3f6f7;
    --background: #000000;
    --primary: #6cd2d5;
    --secondary: #0f3234;
    --accent: #44c6ca; */

   /* Brownie theme */
   /* --text: #faeee5;
    --background: #040201;
    --primary: #efc5a9;
    --secondary: #1a0d05;
    --accent: #c56526 */

   /*Vino theme */
   /* --text: #fdfbfc;
    --background: #0e0608;
    --primary: #592735;
    --secondary: #32161e;
    --accent: #b75c76; */

   /* Ocean theme 
   --text: #f1f9fd;
   --background: #06202d;
   --primary: #1784ba;
   --secondary: #03131b;
   --accent: #1a94d1; */